{% extends 'base.html' %}

{% block content %}




    <div class="container mt-5">
        <br>
        <h2><b>Add School</b></h2>
        <form method="post" enctype="multipart/form-data" style="background-color: #f2f2f2; border-radius: 10px; padding: 60px;">
            {% csrf_token %}
    
            <div class="mb-3">
                <label for="name" class="form-label">School Name:</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ school.name }}" required>
            </div>
    
            <div class="mb-3">
                <label for="address" class="form-label">Address:</label>
                <textarea class="form-control" id="address" name="address" required>{{ school.address }}</textarea>
            </div>
    
            <div class="mb-3">
                <label for="postcode" class="form-label">Postcode:</label>
                <input type="text" class="form-control" id="postcode" name="postcode" value="{{ school.postcode }}" required>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="text" class="form-control" id="email" name="email" value="{{ school.email }}" required>
            </div>
            
            <button type="submit" class="btn btn-primary">Update</button>
            <a href="{% url 'schools' %}" class="btn btn-warning shadow-lg" style="margin-right: 10px;">Back</a>
        </form>
    </div>

{% endblock content %}