{% extends 'base.html' %}
{% load static %}

{% block content %}
<center>
    <div class="main-container">
        <div class="one">
            <a href="{% url 'regular_Invoice' %}">     
                <img src="{% static 'images/finance.png' %}" alt="Finance">                             
                <div class="bottom-section">
                    <div class="left-text">
                        <h2 class="h2-font">Finance</h2>
                    </div>                    
                    <div class="right-text">
                        <p>All things financial</p>                        
                    </div>
                </div>
            </a>   
        </div>


            <div class="one-quarter">
                <a href="{% url 'employees' %}">   
                    <img src="{% static 'images/employees.png' %}" alt="Employees">           
                    <div class="bottom-section">
                        <div class="left-text">
                            <h2 class="h2-font">Manage employees</h2>
                        </div>                    
                        <div class="right-text">
                            <p>Take care of employees</p>                        
                        </div>
                    </div>
                </a>  
            </div>


            <div class="two">
                <a href="{% url 'schools' %}">  
                    <img src="{% static 'images/school.png' %}" alt="school">            
                    <div class="bottom-section">
                        <div class="left-text">
                            <h2 class="h2-font">Schools</h2>
                        </div>                    
                        <div class="right-text">
                            <p>Manage schools</p>                        
                        </div>
                    </div>
                </a>  
            </div>


            <div class="three"> 
                <a href="{% url 'email_school' %}">  
                    <img src="{% static 'images/email.png' %}" alt="Email">   
                    <div class="bottom-section">
                                        
                        <div class="left-text">
                            <h2 class="h2-font">Email</h2>
                        </div>                    
                        <div class="right-text">
                            <p>Send clients emails</p>                        
                        </div>
                    </div>
                </a>  
            </div>
        
            <div class="spare">                  
                <h5 id="slidingText">Good! Work</h5>   
            </div>
            

            <div class="four">  
                    <a href="{% url 'data' %}">   
                        <img src="{% static 'images/stats.png' %}" alt="statistics">       
                        <div class="bottom-section">
                            
                            <div class="left-text">
                                <h2 class="h2-font">Stats</h2>
                            </div>                    
                            <div class="right-text">
                                <p>Stats regarding business</p>                        
                            </div>
                        </div>
                    </a> 
            </div>
</div>

</center>
<br><br><br>
{% endblock %}