html, body {
    height: 100%; /* Ensure the full height of the page is used */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
  }

/* SQUARES */
.square {
    width: 300px;  
    height: 300px; 
    border-radius: 8px;
    margin: 5px auto;     
    background-color: #f0f0f0; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for transform and shadow */
    font-size: 23px;
}

.square:hover {
    transform: scale(1.1) rotate(-5deg); /* Slightly enlarge and rotate the square on hover */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Add drop shadow */
}

@font-face {
    font-family: 'Pacifico-Regular';
    src: url('/static/fonts/Pacifico-Regular.ttf') format('truetype');
}


/* SCROLLING TEXT */
.scrolling-text {
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    margin: 60px 0;
    width: 100vw; /* Set the width to be 100% of the viewport width */
    animation: scroll 60s linear infinite;
}

.scrolling-text span {
    margin-right: 30px; /* Space between each item */
    display: inline-block; /* Ensure inline display for smooth scrolling */
}

@keyframes scroll {
    0% { transform: translate3d(150vw, 0, 0); } /* Start off-screen to the right */
    100% { transform: translate3d(-100%, 0, 0); } /* Ends off the left side */
}

/* Increase specificity to ensure this style takes precedence */
.square a, .square a:hover, .square a:visited, .square a:active {
    text-decoration: none !important; /* Force removal of underline */
    color: inherit; /* Inherit text color from parent element */
}

.centered-cell {
    text-align: center;
    vertical-align: middle;
}

.button-margin-right {
    margin-top: 10px;
}


/* Hover effect for containers */
.one:hover, .one-quarter:hover, .two:hover, .three:hover, .four:hover {
    transform: scale(1.05); /* Slightly scale up the div */
    z-index: 10; /* Ensure the div is above the others */
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.8); /* Add shadow for a 'lifted' effect */
}

/* transition to smooth */
.one, .one-quarter, .two, .three, .four {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Other styles remain unchanged */
    border-radius: 10px;
}

/* New bottom section style */
.bottom-section {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px; /* Set the height of the dark blue section */
    background-color: #10263D; /* Dark blue color */
    transition: background-color 0.3s;
    border-bottom-left-radius: 10px; /* Rounded bottom left corner */
    border-bottom-right-radius: 10px;
    
}

/* New hover effect for .bottom-section */
.bottom-section:hover {
    background-color: #ec4a4a; /* Light red color on hover */
}

.h2-font{
    font-weight: 300;
    font-size: 14px;
    font-family: "ff-din-web", Helvetica, Arial, sans-serif;
    padding-top: 12px;
    color: aliceblue;
    text-transform: uppercase;
    line-height: 1.0;
    font-style: normal;
    letter-spacing: 1px;
}

/* bottom of new section of square */
.left-text {
    flex: 1; /* Take up the remaining space */
    padding-right: 10px; /* Space before the vertical line */
}

/* bottom of new section of square */
.right-text {
    flex: 2; /* Allow this text to take twice as much space as the left text */
    padding-left: 20px; /* Space after the vertical line */
    word-wrap: break-word; /* Ensure the text wraps */
}

/* Adjust the font size for p tags inside .right-text if needed */
.right-text p {
    font-size: 14px; /* Adjust as needed */
    margin: 0; /* Remove default margin */
    padding-top: 5px;
    color: aliceblue;
}

/* whole card */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add smooth transition for transform and shadow */
    /* Keep existing styles */
}

.card:hover {
    transform: scale(1.05); /* Slightly scale up the card on hover */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Add drop shadow */
    /* Ensure the card is above others */
    z-index: 10; 
}

/* Spare animation */
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%); /* Start from off-screen on the left */
      opacity: 0; /* Start with cards invisible */
    }
    100% {
      transform: translateX(0); /* End at the card's normal position */
      opacity: 1; /* Fully visible */
    }
  }


.card {
/* ... existing styles ... */
animation: slideInFromLeft 1.5s ease forwards; /* Apply the animation */
}

/* Add more as needed for additional cards */
.form-wrapper {
    background-color: #f0f0f0; /* Light grey background */
    padding: 20px; /* Add some padding around the form */
    border-radius: 5px; /* Optional: rounds the corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
    margin-top: 20px; /* Additional spacing from the top, if needed */
}